### Pandas 기초
- 데이터처리 라이브러리

#### Pandas 설치
```shell
!pip install pandas
```

#### PyArrow 설치
- Pandas에 새로 추가된 라이브러리
```shell
!pip install pyarrow
```

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\dev\langs\python311\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\dev\langs\python311\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\dev\langs\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\dev\langs\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-17.0.0-cp311-cp311-win_amd64.whl.metadata (3.4 kB)
Requirement already satisfied: numpy>=1.16.6 in c:\dev\langs\python311\lib\site-packages (from pyarrow) (1.26.3)
Downloading pyarrow-17.0.0-cp311-cp311-win_amd64.whl (25.2 MB)
   ---------------------------------------- 0.0/25.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/25.2 MB ? eta -:--:--
   ---------------------------------------- 0.1/25.2 MB 2.8 MB/s eta 0:00:09
    --------------------------------------- 0.4/25.2 MB 3.8 MB/s eta 0:00:07
   - -------------------------------------- 0.8/25.2 MB 5.1 MB/s eta 0:00:05
   -- ------------------------------------- 1.3/25.2 MB 6.4 MB/s eta 0:00:04
   -- ------------------------------------- 1.9/25.2 MB 7.5 MB/s eta 0:00:04
   --- ------------------------------------ 2.4/25.2 MB 8.2 MB/s eta 0:00:03
   ---- ----------------------------------- 2.9/25.2 MB 8.5 MB/s eta 0:00:03
   ----- ---------------------------------- 3.5/25.2 MB 8.9 MB/s eta 0:00:03
   ------ --------------------------------- 3.9/25.2 MB 9.0 MB/s eta 0:00:03
   ------- -------------------------------- 4.4/25.2 MB 9.4 MB/s eta 0:00:03
   ------- -------------------------------- 5.0/25.2 MB 9.3 MB/s eta 0:00:03
   -------- ------------------------------- 5.5/25.2 MB 9.5 MB/s eta 0:00:03
   --------- ------------------------------ 6.1/25.2 MB 9.7 MB/s eta 0:00:02
   ---------- ----------------------------- 6.6/25.2 MB 9.8 MB/s eta 0:00:02
   ----------- ---------------------------- 7.2/25.2 MB 10.0 MB/s eta 0:00:02
   ------------ --------------------------- 7.7/25.2 MB 10.1 MB/s eta 0:00:02
   ------------- -------------------------- 8.3/25.2 MB 10.2 MB/s eta 0:00:02
   -------------- ------------------------- 8.8/25.2 MB 10.3 MB/s eta 0:00:02
   -------------- ------------------------- 9.4/25.2 MB 10.4 MB/s eta 0:00:02
   --------------- ------------------------ 9.9/25.2 MB 10.4 MB/s eta 0:00:02
   ---------------- ----------------------- 10.5/25.2 MB 11.1 MB/s eta 0:00:02
   ----------------- ---------------------- 11.1/25.2 MB 11.5 MB/s eta 0:00:02
   ------------------ --------------------- 11.6/25.2 MB 11.5 MB/s eta 0:00:02
   ------------------- -------------------- 12.2/25.2 MB 11.5 MB/s eta 0:00:02
   -------------------- ------------------- 12.7/25.2 MB 11.5 MB/s eta 0:00:02
   --------------------- ------------------ 13.3/25.2 MB 11.5 MB/s eta 0:00:02
   ---------------------- ----------------- 13.8/25.2 MB 11.7 MB/s eta 0:00:01
   ---------------------- ----------------- 14.4/25.2 MB 11.7 MB/s eta 0:00:01
   ----------------------- ---------------- 15.0/25.2 MB 11.7 MB/s eta 0:00:01
   ------------------------ --------------- 15.5/25.2 MB 11.9 MB/s eta 0:00:01
   ------------------------- -------------- 16.1/25.2 MB 11.9 MB/s eta 0:00:01
   -------------------------- ------------- 16.6/25.2 MB 11.9 MB/s eta 0:00:01
   --------------------------- ------------ 17.1/25.2 MB 11.7 MB/s eta 0:00:01
   ---------------------------- ----------- 17.6/25.2 MB 11.7 MB/s eta 0:00:01
   ---------------------------- ----------- 18.2/25.2 MB 11.7 MB/s eta 0:00:01
   ----------------------------- ---------- 18.7/25.2 MB 11.7 MB/s eta 0:00:01
   ------------------------------ --------- 19.3/25.2 MB 11.7 MB/s eta 0:00:01
   ------------------------------- -------- 19.8/25.2 MB 11.7 MB/s eta 0:00:01
   -------------------------------- ------- 20.4/25.2 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 20.9/25.2 MB 11.7 MB/s eta 0:00:01
   ---------------------------------- ----- 21.5/25.2 MB 11.7 MB/s eta 0:00:01
   ----------------------------------- ---- 22.0/25.2 MB 11.7 MB/s eta 0:00:01
   ----------------------------------- ---- 22.6/25.2 MB 11.7 MB/s eta 0:00:01
   ------------------------------------ --- 23.2/25.2 MB 11.7 MB/s eta 0:00:01
   ------------------------------------- -- 23.7/25.2 MB 11.7 MB/s eta 0:00:01
   -------------------------------------- - 24.3/25.2 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  24.8/25.2 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.2 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 25.2/25.2 MB 11.1 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-17.0.0

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

- Pandas 사용

In [11]:
# Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0)
import pandas as pd # pd로 줄여씀

#### 판다스 기본
- 시리즈, 데이터프레임 개념
- 판다스에서는 데이터프레임이 가장 기본, 데이터 처리도중 잘라서 시리즈를 사용함

<img src="https://raw.githubusercontent.com/hugoMGSung/bigdata-analysis-2024/main/images/ba001.png">

In [9]:
# 데이터프레임 객체 - 2차원 배열
## 딕셔너리 생성
origin = {'이름': ['김현지', '홍길동', '홍길순'], '나이': [24, 18, 20], '결혼':[False, True, True]}
origin, type(origin)

({'이름': ['김현지', '홍길동', '홍길순'], '나이': [24, 18, 20], '결혼': [False, True, True]},
 dict)

In [12]:
## 딕셔너리로 데이터프레임 생성, 변수명을 보통 df로 사용
df = pd.DataFrame(data=origin)
df

    이름  나이     결혼
0  김현지  24  False
1  홍길동  18   True
2  홍길순  20   True

In [15]:
# 데이터 프레임타입
type(df)

pandas.core.frame.DataFrame

In [18]:
## 2. 파이썬 리스트로 데이터프레임 생성
data = [['김현지', 24, '부산', False],
        ['홍길동', 18, '경성', True],
        ['홍길순', 20, '경성', True],
        ['변백현', 33, '부천', False]]
df2 = pd.DataFrame(data=data)
df2

     0   1   2      3
0  김현지  24  부산  False
1  홍길동  18  경성   True
2  홍길순  20  경성   True
3  변백현  33  부천  False

In [20]:
## 리스트로 DF를 만들면 컬럼 제목이 없기 때문에 추가를 해줘야 함
df2 = pd.DataFrame(data=data, columns=['이름','나이','주소','결혼유무'])
df2

    이름  나이  주소   결혼유무
0  김현지  24  부산  False
1  홍길동  18  경성   True
2  홍길순  20  경성   True
3  변백현  33  부천  False

In [21]:
## 시리즈 생성
sr1 = pd.Series([1,2,3,4])
sr1

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
# 시리즈 타입 확인
type(sr1)

pandas.core.series.Series

In [26]:
df2['이름']

0    김현지
1    홍길동
2    홍길순
3    변백현
Name: 이름, dtype: object

In [29]:
## 데이터프레임은 시리즈(열)를 붙인 것들
type(df2['이름'])

pandas.core.series.Series

In [30]:
## DF에서 두 열을 인덱싱 , Column 두 개를 붙인 것은 데이터프레임
df2[['이름', '나이']]

    이름  나이
0  김현지  24
1  홍길동  18
2  홍길순  20
3  변백현  33

- 판다스 자료형
    - Boolean
    - Int8 ~ 64
    - Uint8 ~ 64
    - Float32, Float54
    - DateTime
    - Object
    - Categorical

- DataFrame 조작하는 방법, 빅데이터 분석할 때 실습으로 대체

##### 데이터프레임 사용하기 (CSV, Excel...)
- 엑셀 라이브러리 openpyxl 설치
```shell
!pip install openpyxl
```

In [31]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   ------------- -------------------------- 81.9/250.9 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 2.6 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip